/* bootstrap css start */
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}


.row-gap {
    row-gap: 25px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 30px;
}

.me-2 {
    margin-right: 0.5rem !important;
}



@media (min-width: 500px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .mt-md-5 {
        margin-top: 50px;
    }

   

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .mt-lg-0 {
        margin-top: 0px;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .col-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

*/ .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

img,
svg {
    vertical-align: middle;
}

/* .mb-lg-5 {
          margin-bottom: 3rem;
         } */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.8;
}

ul {
    list-style: none;
}

.d-grid {
    display: grid;
    grid-template-columns: 35% auto;
    align-items: center;
}

input:focus-visible {
    outline: 0px;
}



.p-20 {
    padding: 20px;
}

header {
    box-shadow: 0 0 3px 0 #7e7e7e7a;
    background: white;
}


.site-logo {
    height: auto;
    width: 156px;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav ul li a {
    font-size: 20px;
}


header .search-form form {
    display: flex;
    gap: 10px;
}

header .search-form {
    width: 30%;
}

header .search-form input {
    width: 100%;
    padding: 5px 20px;
    background-color: #f6f6f6;
    border: solid 1px #c1c1c1;
    font-size: 16px;
    border-radius: 5px;
}

.show-ul {
    box-shadow: 0 0 1px 1px #ededed;
    transform: translate(0);
    background: white;
}




.search-form .search-btn {
    width: 50px;
    background: #3381b5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.cancel-btn,
.toogle-slide-btn,
.mob-search {
    display: none;
}

.show-ul~.cancel-btn {
    display: block;
}


.show-search {
    display: block !important;
    position: absolute;
    right: 0;
    top: 95px;
    width: 100% !important;
    background: white;
    padding: 40px;
    border-top: solid 1px #c1c1c1;
}


.img-placeholder,
.overlay-img {
    aspect-ratio: 16/9;
    background: #c1c1c1;
}

.img-placeholder,
.img-placeholder img {
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    width: 100%;
}


.rb-card .img-placeholder {
    overflow: hidden;
}



.rb-card .img-placeholder img,
.overlay-box .overlay-img {
    transition: ease-in-out 0.5s;
}

.rb-card:hover .img-placeholder img,
.overlay-box:hover .overlay-img {
    /* transform: scale(1.1) rotate(2deg); */
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}


.rb-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.rb-title {
    font-size: 20px;
}

.rb-title,
.rb-content p {
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.rb-timeline {
    border-bottom: solid 2px #3381b5;
    width: fit-content;
}

.rb-card {
    border-radius: 5px;
    /* border: 1px solid #33333338; */
}

.rb-title a {
    transition: all 0.3s;
}

.hero-header {
    padding: 50px 0px;
}

.fourth-sec {
    padding: 50px 0px;
}

.six-sec {
    padding: 50px 0px;

}

.seven-sec {
    padding: 50px 0px;
}

.seperator {
    position: relative;
    gap: 10px;
    margin-bottom: 25px;
}

.cate {
    position: relative;
}

footer span {
    font-size: 25px;
    display: inline-block;
}

footer span::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background: #3381b5;
    transition: width .3s;
    margin-bottom: 10px;
}

footer {
    background: black;
    color: rgb(255, 255, 255);
    padding: 30px 0px;
}


footer ul li {
    position: relative;
    margin-left: 35px;
}

footer ul li::before {
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" id="check"><path fill="%233B97D3" d="M120.2 32.3c-3.1-3.1-8.2-3.1-11.3 0L66 75.2 43.2 52.3c-3.1-3.1-8.2-3.1-11.3 0-3.1 3.1-3.1 8.2 0 11.3l28.5 28.5c1.6 1.6 3.6 2.3 5.7 2.3s4.1-.8 5.7-2.3l48.6-48.6c3-3 3-8.1-.2-11.2zm-1.4 9.9L70.3 90.7c-1.1 1.1-2.6 1.8-4.2 1.8s-3.1-.6-4.2-1.8L33.3 62.2c-1.1-1.1-1.8-2.6-1.8-4.2s.6-3.1 1.8-4.2c1.1-1.1 2.6-1.8 4.2-1.8s3.1.6 4.2 1.8L66 78l44.3-44.3c1.1-1.1 2.6-1.8 4.2-1.8s3.1.6 4.2 1.8c1.1 1.1 1.8 2.6 1.8 4.2s-.5 3.1-1.7 4.3z"></path><path fill="%232C3E50" d="M110.4 56.2c.4 2.4.6 5 .6 7.5 0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48c16.2 0 30.5 8.1 39.2 20.4l2.9-2.9c-9.4-13-24.8-21.5-42.1-21.5-28.7 0-52 23.3-52 52s23.3 52 52 52 52-23.3 52-52c0-3.8-.4-7.4-1.2-10.9l-3.4 3.4z"></path></svg>');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 5px;
}

.search-form form {
    position: relative;
}

footer .search-form input {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    font-size: 16px;
    outline: none;
}


.sub-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    /* height: 55px; */
    text-align: center;
    border: none;
    /* background-size: 300% 100%; */
    /* -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; */
    padding: 10px 10px 10px 10px;
}


@media only screen and (max-width: 1024px) {

    .toogle-slide-btn,
    .mob-search {
        display: block;
        cursor: pointer;
    }

    header nav {
        position: absolute;
    }

    header nav ul {
        background-color: white;
        display: block;
        transform: translateX(-100%);
    }

    header ul {
        height: 100vh;
        left: 0;
        padding: 30px;
        position: fixed;
        top: 0;
        transition: .2s;
        width: 75%;
        z-index: 99;
    }

    .cancel-btn {
        position: fixed;
        right: 26%;
        top: 5px;
        z-index: 100;
    }

    .site-logo {
        order: 2;
    }

    .mob-search {
        order: 3;
    }

    header .search-form {
        display: none;
    }



}





@media screen and (max-width: 600px) {
    .d-md-block{
        display: block !important;
    }
    footer .foot-links .col-md-3{
        border: none;
    }
    
}
 